@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 67% 98%;
    --foreground: 212 28% 16%;
    --card: 0 0% 100%;
    --card-foreground: 212 28% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 212 28% 16%;
    --primary: 210 60% 16%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 60% 94%;
    --secondary-foreground: 210 60% 16%;
    --muted: 210 60% 94%;
    --muted-foreground: 210 20% 45%;
    --accent: 207 78% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 9 79% 59%;
    --destructive-foreground: 0 0% 98%;
    --success: 145 63% 49%;
    --success-foreground: 0 0% 100%;
    --warning: 48 89% 50%;
    --warning-foreground: 212 28% 16%;
    --border: 210 40% 88%;
    --input: 210 30% 96%;
    --ring: 207 78% 66%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 212 28% 10%;
    --foreground: 210 40% 98%;
    --card: 212 28% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 212 28% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 210 60% 16%;
    --secondary: 212 28% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 212 28% 18%;
    --muted-foreground: 210 40% 60%;
    --accent: 207 78% 66%;
    --accent-foreground: 210 60% 16%;
    --destructive: 9 79% 59%;
    --destructive-foreground: 0 0% 98%;
    --success: 145 63% 49%;
    --success-foreground: 0 0% 100%;
    --warning: 48 89% 50%;
    --warning-foreground: 212 28% 16%;
    --border: 212 28% 20%;
    --input: 212 28% 20%;
    --ring: 207 78% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
